body {
    padding-top: 50px;
}

.btn-coral {
    background-color: coral;
    color: white;
}
.btn-outline {
    background-color: coral;
    color: white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: coral;
    color: black;
    text-align: center;
}
/* Imagenes responsivas */
.carousel-item img {
    
    object-fit: scale-down;
    width: 100%;
    height: 50vh;

}

.navbar {
    background-color: coral;
}
.dropdown-menu {
    background-color: coral;
    color: white;

}
.card{
    margin-top: 20px;
}

.jumbotron {
    margin-top: 20px;
    color: black;

}
.carousel {
    margin-top: 0; /* Margen */
    
}
