
.navbar-brand{
    color:white;
    
}
.navbar-brand:hover {
    
    color: rgb(57, 38, 154);
  }
body {
    font-family: sans-serif;
    background-image: url("img/ye.gif" );
    padding-top: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btn-coral {
    font-family: sans-serif;
    background-color: rgb(255, 144, 237);
    color: whitesmoke;
    border: whitesmoke;
    transition-duration: 0.4s;
    
}
.btn-coral:hover {
    background-color: rgb(57, 38, 154);
    color: whitesmoke;
  }
  
.btn-coral2 {
    background-color: rgb(255, 144, 237);
   
    color: whitesmoke;
}
.btn-coral2:hover {
    background-color: rgb(57, 38, 154);
    color: whitesmoke;
  }

.btn-outline {
    background-color: whitesmoke;
    color: coral;
    border: coral;
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: coral;
    color: black;
    text-align: center;
}
/* Imagenes responsivas */
.carousel-item img {
    background-image: url("img/fondocarrusel.jpg" );
    object-fit: scale-down;
    width: 100%;
    height: 50vh;

}

.navbar {
    background-color: rgb(255, 144, 237);
}
.dropdown-menu {
    background-color: rgb(255, 144, 237);
    color: whitesmoke;
}
.dropdown-item{
    color: whitesmoke;
}
.card{
    background-color: rgb(216, 0, 143);
    height: 550px;
    width: 320px;
    padding: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 7px; 
    transition: transform 0.5s ease; 
    margin-top: 20px;
}
.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.jumbotron {
   font-family: sans-serif;
    margin-top: 20px;
    color: rgb(255, 144, 237);

}
.carousel {
    
    margin-top: 0; 
    
}
.carousel-control-prev{
    
    filter: invert(-100%);
    

}
.carousel-control-next{
    
    filter: invert(-100%);
    

}

.titulo{
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.titulo2{
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}


  