{% extends "productos/base.html" %}
{% block title %}Eliminar Producto{% endblock %}
{% block content %}
<div class="container pt-5">
    <h1 class="titulo pt-5 text-dark">Eliminar Producto</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h5 class="titulo pt-4 text-dark">¿Estás seguro de que deseas eliminar el producto "{{ producto.nombre }}"?</h5>
            <form action="{% url 'eliminar' producto.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Eliminar" class="btn btn-danger">
                <a href="{% url 'crud' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
