{% extends "productos/base.html" %}
{% block title %} {% endblock %}
{% block content %}
{% load static %}
<div class="container pt-5">
    <h1 class="titulo pt-5 text-dark">Agregar Productos</h1>
</div>

<!-- Contenido en tarjetas -->
<div class="container">
    <div class="row">
        <h2 class="titulo pt-5 text-dark">Formulario</h2>
        <form action="productosAdd">
            {% csrf_token %}

            <pre>Nombre: <input type="text" name="nombre"></pre>
            <pre>Precio: <input type="number" name="precio"></pre>
            <pre>Categoria: <input type="text" name="categoria"></pre>
            <pre>Imagen: <input type="file" name="imagen"></pre>
            <input type="submit" name="opcion" value="">
        </form>
    </div>
</div>
{% endblock %}
