{% extends "productos/base.html" %}
{% block title %}Editar Productos{% endblock %}
{% block content %}
{% load static %}
<div class="container pt-5">
    <h1 class="titulo pt-5 text-dark">Editar Productos</h1>
</div>

<!-- Contenido en tarjetas -->
<div class="container">
    <div class="row">
        <button type="button" class="btn btn-primary mb-3">
            <a href="{% url 'productosAdd' %}" style="color: white; text-decoration: none;">Agregar Productos</a>
        </button>
        <div id="idMensajes">            
            {% if mensaje %}
                {{ mensaje }}
            {% endif %}
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Imagen</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td><img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="max-width: 100px;"></td>
                    <td><a href="{% url 'eliminar' producto.id %}" class="btn btn-danger">Eliminar</a></td>
                    <td><a href="{% url 'editar' producto.id %}" class="btn btn-warning">Modificar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
